.Box{
    position: relative;
    clear: both; 
    display: block; 
}

.web_body{
    
    background: url("../img/bg7.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

h3,h2{
    padding:10px 10px 20px;
}

.left{
    width: 25%;
    float : left;
}

.right{
    width:25%;
    float : right;
}

.single{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 25%;
    height: 240px;
    border-radius : 50%;
    padding : 20px;
}

.Round-image{
    border-radius : 50%;
    width : 100%;
    height: 240px;
    padding : 20px 20px 5px;
}

.text{
    padding: 20px;

    text-shadow: 2px 2px midnightblue ;
    text-align: center;
    
    font-size: 1.2em;
    font-family: Arial;   
}

.Tech_Box{
        position: relative;
        float : left;
        display: block;
        width:100%;
}

.h4left{
    text-indent: 6em;
}