body{
    background: url("../img/bg1.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

*{
    font-family: sans-serif;
    color: #ffff;
}

.Single-Image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 3px blue;
}

.logo_right{
    float: right;
}

h3,h4{
    text-shadow: 1px 1px 3px blue;
}

#Container{
    width: 90%;
    margin: auto;

}

.image{
    display : block;
    padding: 20px;
    width : 50%;
    height: 360px;
    float : left;
}

.image:hover {
    webkit-filter: blur(3px); /* Chrome, Safari, Opera */
    filter: blur(3px);
}